<?xml version="1.0"?>
<!--
/**
 * Standalone PHPUnit config for the framework-light Sham Cash unit tests.
 * Runs without a full Magento install via Test/Unit/bootstrap.php.
 */
-->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         bootstrap="Test/Unit/bootstrap.php"
         colors="true"
         failOnWarning="true"
         failOnRisky="true"
         cacheDirectory=".phpunit.cache">
    <testsuites>
        <testsuite name="ShamCash Payment Unit Tests">
            <directory>Test/Unit</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">Gateway</directory>
            <directory suffix=".php">Model</directory>
            <directory suffix=".php">Reconciliation</directory>
        </include>
    </source>
</phpunit>
